.hotelSeeK_bg{
	width:750px;
	height: 250px;

}
.recommend{
	width:690px;
	height:154px;
	padding:0 30px 0 30px;
	border-bottom: 1px solid #e5e5e5;
	font:30px "微软雅黑";
	color:#999999;
	position: relative;
}
.recommend div{
	position: absolute;
	bottom: 15px;
	left: 39px;
}
.hotelSeek_search{
	width:720px;
	height:261px;
	background:white;
	position:absolute;
	top:115px;
	left:15px;
	border-radius:5px;
	box-shadow: 11px 3px 44px -8px #d2d2d2;
	z-index: 222;
	border:1px solid #ccc;
}
.hs_header{
	width:690px;
	height:90px;
	border-bottom: 1px solid #e5e5e5;
	margin:0 15px 0 15px;
}
.hsLeft{
	width:200px;
	height:80px;
	padding-left:50px;
	background-image: url(../images/se.png);
	background-repeat: no-repeat;
    background-position: 6px 29px;
}

.hsLeft input{
	width:200px;
	height:90px;
	font:28px "微软雅黑";
	border:none;
	border-bottom:1px solid #e5e5e5 ;
	outline:none;
}
.rank{
	width:690px;
	height:80px;
	padding:0 30px 0 30px;
	background:#fafafa;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	font:28px/60px "微软雅黑";
}
.rank div{
	width:229px;
	height:60px;
	margin-top:10px;
	text-align: center;
	color:#bfbfbf;
}

.rank div:nth-child(1){
	border-right:1px solid #ccc
}

.rank div:nth-child(2){
	border-right:1px solid #ccc;
	background:url(../images/sort.png) no-repeat 164px 19px
}

.rank div:nth-child(3){
	border-right:1px solid #ccc;
	background:url(../images/sort.png) no-repeat 164px 19px
}

.hsRight{
	width:150px;
	height:80px;
	background:pink;
	text-align: right;
	font:28px/90px "微软雅黑";
	background: url(../images/location.png)no-repeat 1px 27px;
	color:#353535;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #353535; opacity:1; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #353535;opacity:1;
}

input:-ms-input-placeholder{
    color: #353535;opacity:1;
}

input::-webkit-input-placeholder{
    color: #353535;opacity:1;
}
.find{
    width: 330px;
    height: 70px;
    background: #189AFE;
    font: 32px/70px "微软雅黑";
    color: white;
    text-align: center;
    border-radius: 15px;
    /* margin: 98px auto 0px; */
    top: 255px;
    left: 201px;
    position: absolute;
    z-index: 111;
}
.hotelList{
	width:710px;
	height:240px;
	border-bottom: 1px solid #e5e5e5;
	padding:0 20px 0 20px;
	position:relative;
}
.hotelImg{
	width:180px;
	height:180px;
    margin: 30px 15px 0 0;
}
.hotelData{
	width:505px;
	height:190px;
    margin: 25px 0 0 0;
}
.hotelName{
	width:520px;
	height:35px;
	font:bold 30px "微软雅黑";
	line-height: 35px;vertical-align: middle;
    margin-top: 5px;
}

.hotelName span:nth-child(1){
   display:inline-block;
	height:35px;
	font:bold 30px/35px "微软雅黑";
	margin-right:10px;
}

.best{
	display:inline-block;
	font:bold 21px/25px "微软雅黑";
	color:#e34a36;
	width:60px;
	height:23px;
	text-align: center;
	border:2px solid #e34a36;
	line-height:30px;
	margin-top:4px;
}
.hotelPlace{
	font:24px/30px "微软雅黑";
	width:350px;
	height:30px;
	padding-left:31px;
	margin:15px 0px 15px 0px;
	background:url(../images/loc.png) no-repeat 1px 1px;
}
.starNub{
	display:inline-block;
	width:60px;
	height:40px;
	font:24px/40px "微软雅黑";
}
.star{
	display:inline-block;
	width:33px;
	height:27px;
	font:24px "微软雅黑";
	background:url(../images/star.png) no-repeat 1px 1px;
}
.starWrap{
	height:40px;
	width:340px;
	line-height:40px;
    margin-bottom: 10px;
}
.environment{
	width:400px;
	height:30px;
	margin-top:4px;
}
.environment li{
	width:auto;
	height:25px;
	font:20px "微软雅黑";
	margin-right:8px;
}
.deduction{
	color:#ffa02b;
	border:2px solid #ffa02b;
}
.merit{
	color:#77b3ff;
	border:2px solid #77b3ff;
}
.hotelPrice{
	width:150px;
	height:50px;
	position:absolute;
	right:20px;
	top:80px;
}
.hotelPrice span:nth-child(1){
	font:36px "微软雅黑";
	color:#df2e17;
}
.hotelPrice span:nth-child(2){
	font:20px "微软雅黑";
	color:#a0a0a0;
}

.inHL{
    position: relative;
    top: 6px;
    left: 7px;
    width: 27px;
    height: 27px;
    border: 6px solid white;
    border-bottom: none;
    border-right: none;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}
.hotelTitle{
	position:absolute;
	top:27px;
	left:30px;
	width:690px;
	height:50px;
}
.hotelTitle>div{
	width:230px;
}
.hotelTitle>div:nth-child(1){
	color:white;
	/*position:relative*/
}
.hotelTitle>div:nth-child(2){
	font:bold 36px/43px "微软雅黑";
	color:white;
	text-align: center;
}
.hotelTitle>div:nth-child(3){
	font:36px/50px "微软雅黑";
	color:white;
	text-align: right;
	background:url(../images/screen.png)no-repeat 120px 12px;
}