.perfectDatum{
	width:750px;
	height:87px;
	background:#4698ff;
	font:36px/87px "微软雅黑";
	color:white;
	text-align: center;
	position:relative;
}
.back{
	position: absolute;
    top: 32px;
    left: 30px;
    width: 25px;
    height: 25px;
    border: 6px solid white;
    border-bottom: none;
    border-right: none;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
	-o-transform:rotate(-45deg); 	/* Opera */
}
.sel{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    border: 3px solid #999;
    border-bottom: none;
    border-right:none;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
	-o-transform:rotate(135deg); 	/* Opera */
}
.personDetails{
	background:white;
}
.personDetails>div{
	width:690px;
	height:90px;
	padding:0 30px 0 30px;
	border-bottom: 1px solid #dfdfdf;
}
.personDetails div label{
	display:inline-block;
	height:80px;
	width:130px;
	font:30px/80px "微软雅黑";
}
.personDetails div input{
	display:inline-block;
	height:87px;
	width:554px;
	border:none;
	outline:none;
	text-align: right;
	font:30px "微软雅黑";
}
.personDetails>div>span{
	display:inline-block;
	width:525px;
	height:87px;
	text-align: right;
	font:30px "微软雅黑";
	color:#999999;
}
.selPar{
	position:relative;
}
#submit{
	width:690px;
	height:90px;
	background:#189afe;
	font:34px/90px "微软雅黑";
	text-align: center;
	color:white;
	border-radius:13px;
	margin:105px  auto 0px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999; opacity:1; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;opacity:1;
}

input:-ms-input-placeholder{
    color: #999;opacity:1;
}

input::-webkit-input-placeholder{
    color: #999;opacity:1;
}